
header {
  display: flex;
  background-color: #444;
  flex-direction: row;
  margin-bottom: 50px;
}
nav{
  max-width: 960px;
  margin: auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  justify-content:space-around;
  padding: 15px 0;
  margin: auto
  ;

}
main {
  width: 960px;
  margin: auto;
  margin-bottom: 30px;

}

main ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 15px;
}
section {
  display: flex; 
  flex-direction: row;
justify-content: space-between; 
}
p {
  height: 300px;
  overflow: auto;
}

button {
  background-color: black;
  color: aliceblue;
  transition: 0ms;
  height: 25px;
  width: auto;
}

button:hover {
  background-color: red;
  height: 25px;
  width: auto;
}

footer {
  background-color: #444;
  height: 150px;
  width: auto;
}